* {
  font-family: Arial, sans-serif;
  color: #656565;
}
#card-print-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  word-wrap: break-word;
  z-index: 99999;
}
#card-print-dialog {
  position: relative;
  top: 60px;
  right: 0px;
  left: 0px;
  height: calc(100% - 120px);
  width: 1000px;
  margin: auto;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
#card-print-dialog-header {
  position: relative;
  background: #f0f0f0;
  height: 25px;
  border-bottom: 1px solid #cccccc;
  padding: 10px 15px 15px 15px;
}
#card-print-dialog-content {
  position: relative;
  background: white;
  height: calc(100% - 106px);
  width: 100%;
  overflow: hidden;
}
#card-print-dialog-content-iframe {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
}
#card-print-dialog-footer {
  position: relative;
  background: #f0f0f0;
  border-top: 1px solid #cccccc;
  height: 30px;
  padding: 15px 15px 10px 15px;
  text-align: right;
  font-size: 13px;
}
#buttons {
  position: relative;
  float: right;
  display: inline-block;
  height 30px;
}
#info {
  position: relative;
  float: right;
  display: inline-block;
  height: 30px;
}
#info-line {
  font-size: 14px;
  line-height: 29px;
  margin-right: 8.4rem;
}
#card-print-dialog-title {
  position: relative;
  float: left;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 20px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}
.ui-element {
  color: #656565;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 5px;
  vertical-align: baseline;
}
.button {
    cursor: pointer;
    background-color: #DEDEDE;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 5.8px 20px;
    margin: 0px 2px;
    text-decoration: none;
    text-align: center;
}
.button-primary{
    background-color: #5689db;
    border: 1px solid #5689db;
    color: #fff;
}
label {
  display: block;
  margin-left: 5px;
  float:left;
}
label[for] {
  cursor: pointer;
}
.checkbox {
  position: relative;
  width: auto;
  height: auto;
}
.checkbox  input[type=checkbox]{
  display: none;
}
.checkbox input[type=checkbox]  + label {
  margin: 0px;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: #DEDEDE;
  border: 1px solid #D4D4D4;
}
.checkbox input[type=checkbox] + label::after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 2px solid #656565;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}
input[type=number].numberInput {
    color: #656565;
    position: relative;
    top: -2;
    font-size: 12px;
    font-weight: 700;
    width:1.5em;
    padding:3px;
    margin:0;
    border:1px solid #ddd;
    border-radius:5px;
    text-align: center;
    background-color: #DEDEDE;
    border: 1px solid #D4D4D4;
    width: 100px;
}
input[type=number].numberInput::-webkit-inner-spin-button,
input[type=number].numberInput ::-webkit-outer-spin-button {
   -webkit-appearance: none;
}
input[type=number].numberInput:hover{
    border:1px solid #ddd;
    background-color: #f6f6f6;
}
input[type=number].numberInput:focus{
    outline:none;
    border:1px solid #ddd;
    background-color: #f6f6f6;
}
